aiohappyeyeballs==2.3.5
aiohttp==3.10.3
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.4.0
async-timeout==4.0.3
attrs==24.2.0
branca==0.8.1
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.3.1
cycler==0.12.1
distro==1.9.0
dnspython==2.7.0
email_validator==2.2.0
exceptiongroup==1.2.2
fastapi==0.112.0
fastapi-cli==0.0.7
folium==0.19.5
fonttools==4.56.0
frozenlist==1.4.1
geoip2==4.8.0
geopandas==1.0.1
h11==0.14.0
httpcore==1.0.5
httptools==0.6.4
httpx==0.27.0
idna==3.7
Jinja2==3.1.5
jiter==0.5.0
joblib==1.4.2
kiwisolver==1.4.8
mapclassify==2.8.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.1
maxminddb==2.6.2
mdurl==0.1.2
multidict==6.0.5
networkx==3.4.2
numpy==2.2.4
openai==1.40.5
packaging==24.2
pandas==2.2.3
pillow==11.1.0
pydantic==2.8.2
pydantic-settings==2.4.0
pydantic_core==2.20.1
Pygments==2.19.1
pyogrio==0.10.0
pyparsing==3.2.1
pyproj==3.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.20
pytz==2025.1
PyYAML==6.0.2
redis==5.0.8
requests==2.32.3
rich==13.9.4
rich-toolkit==0.13.2
scikit-learn==1.6.1
scipy==1.15.2
shapely==2.0.7
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.32
sse-starlette==2.1.3
starlette==0.37.2
threadpoolctl==3.6.0
tqdm==4.66.5
typer==0.15.1
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.2.2
uvicorn==0.30.5
uvloop==0.21.0
watchfiles==1.0.4
websockets==15.0
xyzservices==2025.1.0
yarl==1.9.4
